@import "../../App.scss";
.sc-category{
    @media screen and (min-width: 420px){
        grid-template-columns: repeat(2, 1fr);
        column-gap: 24px;
    }

    @media screen and (min-width: 576px){
        grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (min-width: 992px){
        grid-template-columns: repeat(4, 1fr);
    }

    @media screen and (min-width: 1080px){
        grid-template-columns: repeat(5, 1fr);
    }

  
.signup-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e3f4fa; /* Light blue background */
  padding: 48px; /* Adjust padding as needed */
  border-radius: 8px; /* Optional: rounded corners */
}

.signup-content {
  max-width: 50%; /* Adjust width as needed */
}

.signup-content h2 {
  font-size: 2.4rem;
  color: #333;
  margin-bottom: 24px;
}

.signup-content .highlight {
  color: #00aaff; /* Highlighted text color */
}

.signup-button {
  background-color: #007bff;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.features-list {
  background-color: white;
  padding: 32px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.features-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.features-list li {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 16px;
}

.features-list img {
  margin-right: 16px;
  width: 24px;
  height: 24px;
}

.illustration {
  max-width: 384px;
}

.illustration img {
  width: 100%;
  height: auto;
}






    .category-itm{
        background-color: $clr-white;
        position: relative;
        margin: 12px auto;
        box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
        border-radius: 3px;
        box-shadow: rgba(99, 99, 99, 0.09) 0px 2px 8px 0px;

        &-img{
            height: 150px;
            position: relative;

            img{
                padding: 12px;
                transition: $transition;
            }

            &:hover{
                img{
                    transform: scale(0.8);
                }
            }
        }
        &-title{
            position: absolute;
            top: 6px;
            right: 6px;
            padding: 1px 8px;
            border-radius: 3px;
            box-shadow: rgba(0, 0, 0, 0.14) 0px 3px 8px;
            transition: $transition;
        }

        


        &:hover{
            .category-itm-title{
                opacity: 1;
                border-radius: 2px;
            }
        }
    }
}