// Sidebar.scss
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 250px;
    background-color: #f7faff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: width 0.3s ease-in-out;
    overflow: hidden;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 80px;
  
    &.collapsed {
      width: 60px;
  
      .side-link-text {
        display: none;
      }
  
      .side-icon {
        text-align: center;
      }
    }
  
    .navbar-hide-btn {
      margin: 1rem;
      background: none;
      border: none;
      cursor: pointer;
      display: flex;
      justify-content: flex-end;
    }
  
    .side-content {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
  
      .side-nav {
        list-style: none;
        padding: 0;
        margin: 0;
  
        .side-item {
          margin-bottom: 1.5rem;
        }
  
        .side-link {
          display: flex;
          align-items: center;
          font-size: 16px;
          text-decoration: none;
          color: #000;
  
          .side-icon {
            font-size: 20px;
            margin-right: 1rem;
          }
  
          .side-link-text {
            font-size: 16px;
          }
        }
      }
    }
  
    .side-footer {
      padding: 1rem;
      display: flex;
      flex-direction: column;
  
      .side-item {
        margin-bottom: 1.5rem;
      }
  
      .side-link {
        display: flex;
        align-items: center;
        font-size: 16px;
        text-decoration: none;
        color: #000;
  
        .side-icon {
          font-size: 20px;
          margin-right: 1rem;
        }
  
        .side-link-text {
          font-size: 16px;
        }
      


        .sidebar {
          &.collapsed {
            .side-content {
              display: none;
            }
            .navbar-hide-btn {
              transform: rotate(0deg);
              transition: transform 0.3s ease;
            }
          }
        
          .navbar-hide-btn {
            transform: rotate(180deg);
            transition: transform 0.3s ease;
            background: none;
            border: none;
            cursor: pointer;
          }
        }
        

      
      }
    }
  }
  